workflows/Dora - Accomodation check (1).json
{
  "name": "Dora - Accommodation check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dora-accommodation-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        160
      ],
      "id": "5fd68885-da74-4448-908e-786f6aa61a69",
      "name": "Webhook",
      "webhookId": "67e5fb57-8cea-4d76-8abb-3a45bd5fe466"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\":\"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\",\n  \"query\": \"={{\n$('Webhook').first().json.body.query +\n' in ' +\n$('Webhook').first().json.body.destination +\n' best hotels hostels accommodation airbnb stay viral TikTok Instagram recommendations'\n}}\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 5,\n  \"include_answer\": true,\n  \"include_raw_content\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        160
      ],
      "id": "821dfc72-96ad-4400-b490-fe8dbad892f3",
      "name": "Tavily Search"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.responses[0].message.content;\n\nconst cleaned = text\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet places = [];\n\ntry {\n  places = JSON.parse(cleaned);\n} catch (error) {\n  places = [];\n}\n\nconst destination = $(\"Webhook\").first().json.body.destination;\nconst query = $(\"Webhook\").first().json.body.query;\n\nreturn places.map(place => ({\n  json: {\n    placeName: place,\n    destination: destination,\n    query: query\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        160
      ],
      "id": "5a031c8a-0d59-427c-a022-ef437e27b189",
      "name": "split places"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "AIzaSyBNwxcnzPuVNCad7u4jlvhQ2jjGYJvKa6s"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.formattedAddress,places.rating,places.userRatingCount,places.googleMapsUri,places.websiteUri"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "textQuery",
              "value": "={{ $json.placeName + \" \" + $json.destination }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        160
      ],
      "id": "c79cf840-21d3-4c7f-a732-0489324f6524",
      "name": "google places search"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.reka.ai/v1/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "REMOVED_REKA_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"reka-flash\",\n  messages: [\n    {\n      role: \"user\",\n      content:\n        \"You are Dora, a travel accommodation expert. \" +\n        \"Given this Google Places result for a hotel/hostel/accommodation, provide a detailed assessment. \" +\n        \"Use googleMapsUri as the url. If googleMapsUri is unavailable, use websiteUri. \" +\n        \"Return ONLY valid JSON with this exact format: \" +\n        \"{\\\"placeName\\\":\\\"\\\",\\\"verdict\\\":\\\"Highly Recommended / Worth Trying / Mixed / Overhyped\\\",\\\"confidence\\\":0,\\\"reason\\\":\\\"\\\",\\\"rating\\\":0,\\\"reviewCount\\\":0,\\\"url\\\":\\\"\\\",\\\"priceRange\\\":\\\"Budget / Mid-range / Luxury\\\",\\\"locationQuality\\\":\\\"Excellent / Good / Average / Poor\\\",\\\"goodFor\\\":[],\\\"amenities\\\":[],\\\"watchOut\\\":[]} \" +\n        \"Google Places data: \" +\n        JSON.stringify($json)\n    }\n  ]\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        160
      ],
      "id": "ff30ca10-5947-4822-a144-0ae44a17e28a",
      "name": "reka fact check"
    },
    {
      "parameters": {
        "jsCode": "return $input.all()\n  .map(item => {\n    if (item.json.error) return null;\n\n    const response = item.json.responses?.[0]?.message?.content;\n    if (!response) return null;\n\n    const cleaned = response\n      .replace(/```json/g, \"\")\n      .replace(/```/g, \"\")\n      .trim();\n\n    let parsed;\n    try {\n      parsed = JSON.parse(cleaned);\n    } catch (error) {\n      const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n      if (match) {\n        try {\n          parsed = JSON.parse(match[0]);\n        } catch {\n          return null;\n        }\n      } else {\n        return null;\n      }\n    }\n\n    if (!parsed.placeName || parsed.placeName === \"Unknown\") return null;\n    if (!parsed.verdict) return null;\n\n    return { json: parsed };\n  })\n  .filter(item => item !== null);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        160
      ],
      "id": "22d40c9b-4b61-4b84-9b34-e6d5484c5284",
      "name": "clean reka output"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const data = item.json;\n\n  return {\n    json: {\n      title: `🏨 ${data.placeName}`,\n      verdict: data.verdict,\n      confidence: data.confidence,\n      rating: data.rating,\n      reviewCount: data.reviewCount,\n      summary: data.reason,\n      url: data.url || null,\n      priceRange: data.priceRange || null,\n      locationQuality: data.locationQuality || null,\n      goodFor: data.goodFor || [],\n      amenities: data.amenities || [],\n      watchOut: data.watchOut || []\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        160
      ],
      "id": "1fc8cd5d-1383-4c5d-8343-515e79a5a54c",
      "name": "make dora cards"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  recommendations: $input.all().map(item => item.json)\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1648,
        160
      ],
      "id": "da304574-882d-4c0f-905a-debc74f4c60b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bae8c7f3-f4cb-4ede-9ab5-e2f6eeefd914",
              "leftValue": "={{ $('check accommodation cache').all().filter(item => item.json.id).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        160
      ],
      "id": "f3466459-4eaa-4dfa-a357-b35392a457c0",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  source: \"supabase_cache\",\n  recommendations: $input.all().map(item => item.json)\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ],
      "id": "cd09431d-7118-4cea-aaf5-4d38758a38b2",
      "name": "return cached result"
    },
    {
      "parameters": {
        "url": "https://dhnjasuzvslnmjxdqthw.supabase.co/rest/v1/accommodation_recommendations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "destination",
              "value": "=eq.{{ $(\"Webhook\").first().json.body.destination }}"
            },
            {
              "name": "query",
              "value": "=eq.{{ $(\"Webhook\").first().json.body.query }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRobmphc3V6dnNsbm1qeGRxdGh3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDU2NDgyOCwiZXhwIjoyMDk2MTQwODI4fQ.4vTp-8Vl_nELrnbthGbeqcja5QKTKjyoqiYmoz3TlwM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRobmphc3V6dnNsbm1qeGRxdGh3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDU2NDgyOCwiZXhwIjoyMDk2MTQwODI4fQ.4vTp-8Vl_nELrnbthGbeqcja5QKTKjyoqiYmoz3TlwM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -464,
        160
      ],
      "id": "237a871c-71e0-4972-8ecb-ad352e36b1b5",
      "name": "check accommodation cache",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dhnjasuzvslnmjxdqthw.supabase.co/rest/v1/accommodation_recommendations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRobmphc3V6dnNsbm1qeGRxdGh3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDU2NDgyOCwiZXhwIjoyMDk2MTQwODI4fQ.4vTp-8Vl_nELrnbthGbeqcja5QKTKjyoqiYmoz3TlwM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRobmphc3V6dnNsbm1qeGRxdGh3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDU2NDgyOCwiZXhwIjoyMDk2MTQwODI4fQ.4vTp-8Vl_nELrnbthGbeqcja5QKTKjyoqiYmoz3TlwM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  destination: $(\"Webhook\").first().json.body.destination,\n  query: $(\"Webhook\").first().json.body.query,\n  title: $json.title,\n  url: $json.url || null,\n  verdict: $json.verdict,\n  confidence: $json.confidence,\n  rating: $json.rating,\n  review_count: $json.reviewCount,\n  price_range: $json.priceRange || null,\n  location_quality: $json.locationQuality || null,\n  good_for: $json.goodFor || [],\n  amenities: $json.amenities || [],\n  summary: $json.summary,\n  watch_out: $json.watchOut || []\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1376,
        160
      ],
      "id": "d61be1d2-0d10-432b-96aa-1fe291d7bf71",
      "name": "save accommodation reco"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.reka.ai/v1/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "REMOVED_REKA_KEY"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"reka-flash\",\n  messages: [\n    {\n      role: \"user\",\n      content:\n        \"Extract up to 4 specific hotels, hostels, ryokans, resorts, guesthouses, serviced apartments, or accommodation-related places from this search result. Return ONLY a JSON array of strings. No markdown. No explanation. Data: \" +\n        (\n          ($json.results?.[0]?.title || \"\") + \" \" +\n          ($json.results?.[0]?.content || \"\") + \" \" +\n          ($json.results?.[1]?.title || \"\") + \" \" +\n          ($json.results?.[1]?.content || \"\")\n        ).replace(/\\n/g, \" \").replace(/\\r/g, \" \")\n    }\n  ]\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        160
      ],
      "id": "e56c40c8-b428-461c-85ff-693f89dd9cdf",
      "name": "Reka Extract Places"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "check accommodation cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "main": [
        [
          {
            "node": "Reka Extract Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split places": {
      "main": [
        [
          {
            "node": "google places search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "google places search": {
      "main": [
        [
          {
            "node": "reka fact check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reka fact check": {
      "main": [
        [
          {
            "node": "clean reka output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clean reka output": {
      "main": [
        [
          {
            "node": "make dora cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make dora cards": {
      "main": [
        [
          {
            "node": "save accommodation reco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "return cached result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tavily Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check accommodation cache": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save accommodation reco": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reka Extract Places": {
      "main": [
        [
          {
            "node": "split places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a2e18ee2-856f-4e86-94bb-d8aaff395dd5",
  "meta": {
    "instanceId": "e7170ac7bead7b712622aab96ab1bad401cb903eb830a72d0e681b719d73977f"
  },
  "nodeGroups": [],
  "id": "dTNmr11ySRG7ZNPE",
  "tags": []
}